.WhyShopWithUs {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  padding: 20px; */
}

.WhyShopWithUsTextCntnr {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WhyShopWithUsMainText {
  font-size: 2rem; /* Adjusted for responsiveness */
  text-decoration: underline;
  text-decoration-color: var(--color-primary-main);
  margin-bottom: 0px;
  text-align: center;
}

.WhyShopWithUsSubText {
  width: 90%; /* Adjusted for responsiveness */
  max-width: 700px;
  text-align: center;
  font-size: 1.25rem; /* Adjusted for responsiveness */
  word-spacing: 0.4rem;
}

.Images {
  width: 100%;
  height: auto;
}

.mainSubTxt {
  color: var(--color-primary-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
}

.secondarySubTxt {
  color: var(--font-color-light);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-main);
}

.logoTextCntnrs {
  text-wrap: wrap;
  text-align: center;
  width: 100%; /* Adjusted for responsiveness */
  max-width: 200px;
  word-spacing: 0.2rem;
}

.WhyShopWithUsLogoCtnr {
  display: flex;
  flex-wrap: wrap; /* Adjusted for responsiveness */
  justify-content: center;
  background-color: var(--color-secondary-main);
  padding: 20px; /* Adjusted for responsiveness */
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .WhyShopWithUsMainText {
    font-size: 3rem; /* Larger font size for tablets and above */
  }

  .WhyShopWithUsSubText {
    font-size: 1.5rem; /* Larger font size for tablets and above */
  }

  .WhyShopWithUsLogoCtnr {
    justify-content: space-evenly;
    padding: 50px;
  }
}

@media (min-width: 1024px) {
  .WhyShopWithUsMainText {
    font-size: 4rem; /* Larger font size for desktops and above */
  }

  .WhyShopWithUsSubText {
    font-size: 2rem; /* Larger font size for desktops and above */
  }
}
